<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body class="bg-white text-black antialiased dark:bg-gray-950 dark:text-white flex">
    <section class="xl:max-w-5xl min-h-dvh mx-auto px-4 xl:px-0 flex flex-col grow">
      {{ partial "header.html" . }}
      <main class="grow">
        {{- block "main" . -}}{{- end -}}
      </main>
      {{ partial "footer.html" . }}
    </section>
    {{ $toggleMenu := resources.Get "js/toggle-menu.js" }}
    <script type="text/javascript" src="{{ $toggleMenu.RelPermalink }}" defer></script>
    {{ $toggleTheme := resources.Get "js/toggle-theme.js" }}
    <script type="text/javascript" src="{{ $toggleTheme.RelPermalink }}" defer></script>
  </body>
</html>
